<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <h2></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <img [src]="contact.imageURL" alt="{{ contact.name }}"  class="img-responsive" style="max-height: 100px;">        
        </div>
        <div class="col-xs-6 pull-right">
          <a type="button" class="btn btn-primary btn-md">Edit</a>
          <a type="button" class="btn btn-danger btn-md">Delete</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <strong>Email: {{ contact.email }} </strong> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong> Phone: {{ contact.phone }}</strong>
        </div>
      </div>
    </div>
  </div>