<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-8">
          <h1>Contacts</h1>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-success" style="margin-top: 15px;">New
            Contact</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <cms-contact-item 
          *ngFor="let contact of contacts" 
          [contact]="contact" 
          (click)="onSelected(contact)"></cms-contact-item>
        </div>
      </div>
    </div>
  </div>