<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-8">
          <h1>Contacts</h1>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-success" style="margin-top: 15px;">New
            Contact</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ contact.name }}</h4>
            </div>
            <span class="pull-right">
              <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
  
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>